<div id="container">

    <div class="container" role="main">

        <div class="row">
            <div class="col-md-12">
                <h1>Google AutoComplete Demo</h1>
            </div>
        </div>

        <form class="form-horizontal" #SearchPlacesForm="ngForm">

            <div class="form-group">
                <label class="control-label col-sm-6" for="txtSearchPlaces">search places:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="txtSearchPlaces" name="txtSearchPlaces" #txtSearchPlaces="ngModel" [(ngModel)]="shippingAddress" placeholder="Enter places">
                </div>
            </div>

        </form>

    </div>

</div>