.about-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10vh 7vw;
}

.about-holder h1 {
    font-size: 18px;
    font-weight: 700;
    padding: 20px 0 30px;
    text-align: center;
}