<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            About
            <div class="titleicon">
                <img src="assets/wind1st.png" alt="Wind1st.Com" />
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
    </ion-header>
    <div class="about-holder">
        <div>
            <h1>About Wind 1st</h1>
            <p>For bicycle commuters, wind direction and velocity are important pieces of information.
                Finding these on most weather apps takes a lot of&nbsp;digging.</p>
            <p>This app is designed to make wind direction and velocity&nbsp;foremost.</p>
            <p>The app is built with the <a href="https://openweathermap.org/api" target="_blank">OpenWeather API</a>
                and the <a href="https://developers.google.com/maps/documentation/places/web-service/overview"
                    target="_blank">Google&nbsp;Places&nbsp;API</a>.</p>
            <p><strong>FAQ</strong></p>
            <p>Why is the location entered in Settings different than the location displayed on&nbsp;Weather?</p>
            <p>Your longitude and latitude are returned from Google Places and sent to OpenWeather. OpenWeather
                often uses a different name for the same&nbsp;locale.</p>
        </div>
    </div>
</ion-content>