<div id="container">

    <div class="ion-canvas">

        <div #svgWindPointer></div>

        <div id="buttonHolder">
            <div [ngClass]="updateButtonToggle ? 'form-expanded' : 'form-collapsed'">
                <button mat-raised-button (click)="updateWeather()"> UPDATE </button>
            </div>
            <div [ngClass]="updateButtonToggle ? 'form-collapsed' : 'form-expanded'">
                <div>{{(useDeviceIsSet === true && locationUnavailable === true) ? "" : "Please Wait"}}</div>
            </div>
            <div *ngIf="(updateFailed === true)" id="deviceLocationUnavailable">
                Update Failed<br><br>Please Try Again or Return to Settings</div>
            <div *ngIf="(useDeviceIsSet === true && locationUnavailable === true)" id="deviceLocationUnavailable">
                Please Enter Location</div>
        </div>

    </div>

</div>