<div class="container" role="main">
    <mat-radio-group aria-labelledby="radio-group-label" class="radio-group" class="radio-group"
        [(ngModel)]="selectedItem">
        <mat-radio-button class="radio-button" class="radio-button" *ngFor="let data of rbDeviceLocationSelection"
            [value]="data.value" (click)="locationPreference(data.value)">
            {{data.name}}
        </mat-radio-button>
    </mat-radio-group>
</div>
<div [ngClass]="enteredLocation ? 'form-expanded' : 'form-collapsed'">
    <form MatAutocompleteModule class="form-horizontal" #SearchPlacesForm="ngForm">
        <div class="form-group">
            <label class="control-label col-sm-6 powered-by-google" for="txtSearchPlaces">Powered by
                <strong>Google</strong> Places</label>
            <div class="col-sm-6">
                <input type="search" class="form-control" id="txtSearchPlaces" name="txtSearchPlaces"
                    #txtSearchPlaces="ngModel" [(ngModel)]="address" placeholder="Enter your location"
                    aria-label="location entry">
            </div>
        </div>
    </form>
</div>