section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%
}

.button-holder {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}